<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Тест-драйв</title>
  <link rel="stylesheet" href="test-drive.css">
</head>
<body>

  <div class="form-test-drive">

  <form action="#" id="test-drive" method="get">
    <fieldset form="test-drive">
      <legend>Выбор модели</legend>
      <select name="car-models" id="car-models">
        <option value="c-class">C-Class</option>
        <option value="e-class">E-Class</option>
        <option value="s-class">S-Class</option>
        <option value="cla">CLA</option>
        <option value="cls">CLS</option>
        <option value="glc">GLC</option>
        <option value="gle">GLE</option>
        <option value="gls">GLS</option>
        <option value="v-class">V-Class</option>
      </select>
    </fieldset>

    <fieldset form="test-drive">
      <legend>Контактная информация</legend>
      <label for="your-name">ФИО: <input type="text" name="your-name" id="your-name"></label>
      <label for="email">Ваш e-mail: <input type="email" id="email"></label>
      <label for="phone-number">Ваш номер телефона: <input type="text" id="phone-number"></label>
    </fieldset>
    
    <fieldset form="test-drive">
      <legend>Желаемая дата тест-драйва</legend>
      <input type="date">
    </fieldset>

    <fieldset form="test-drive">
      <legend>Дополнительная информация</legend>
      <label for="additional-information"></label>
      <textarea name="additional-information" id="additional-information" cols="30" rows="10"></textarea>
    </fieldset>

    <input class="form-test-drive__button" type="submit" value="Отправить">
    <input class="form-test-drive__button" type="reset" value="Очистить">

  </form>

  </div>
</body>
</html>