<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="menu.css">
</head>
<body>
  <div class="card-menu-item">
    <a href="https://www.mercedes-benz.by/ru/desktop/home.html" class="card-menu__link">
      <div class="card-menu__pop-up-menu">
        <div class="card-menu__image">
          <img src="./../../../img/menu/mercedes-new-car.jpg" alt="Автомобили">
          <div class="card-menu__hover">
            <p>Модельный ряд, характеристики, цены</p>
          </div>
        </div>
      </div>
      <h3 class="card-menu__name">Автомобили</h3>
    </a>
  </div>
</body>
</html>