<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./header.css">
</head>
<body>
  <header>
    <div class="logo">
      <a href="#"><img src="./../../../img/header/logo.png" alt="Logo" class="logo__image"></a>
    </div>
    <nav class="navigation">
      <ul>
        <li class="navigation__list-item"><a href="#" class="navigation__link">Автомобили</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">Сервис</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">Тест-драйв</a></li>
        <li class="navigation__list-item"><a href="#" class="navigation__link">О компании</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>