<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="service.css">
</head>
<body>

  <div class="form-service">

    <form action="#" id="service" method="get">
      <fieldset form="service">
        <legend>Данные о автомобиле</legend>
        <label for="model-name">Модель автомобиля: <input type="text" name="model-name" id="model-name"></label>
        <label for="model-vin">VIN-номер: <input type="text" name="model-vin" id="model-vin"></label>
      </fieldset>

      <fieldset form="service">
        <legend>Контактная информация</legend>
        <label for="your-name">ФИО: <input type="text" name="your-name" id="your-name"></label>
        <label for="email">Ваш e-mail: <input type="email" id="email"></label>
        <label for="phone-number">Ваш номер телефона: <input type="text" id="phone-number"></label>
      </fieldset>

      <fieldset form="service">
        <legend>Предварительная дата и времмя записи</legend>
        <input type="date">
        <input type="time">
      </fieldset>

      <fieldset form="service">
        <legend>Описание проблемы (необходимых работ)</legend>
        <label for="additional-information"></label>
        <textarea name="additional-information" id="additional-information" cols="30" rows="10"></textarea>
      </fieldset>

      <input class="form-service__button" type="submit" value="Отправить">
      <input class="form-service__button" type="reset" value="Очистить форму">

    </form>

  </div>

</body>
</html>