#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 99;
}

#status {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 50%;

  background-image: url("./../../images/preloader/5.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -45px 0 0 -45px;
}