<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="car-models.css">
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="logo">
        <a href="#"><img src="./../../img/header/logo.png" alt="Logo" class="logo__image"></a>
      </div>
      <nav class="navigation">
        <ul>
          <li class="navigation__list-item"><a href="#" class="navigation__link">Автомобили</a></li>
          <li class="navigation__list-item"><a href="#" class="navigation__link">Сервис</a></li>
          <li class="navigation__list-item"><a href="#" class="navigation__link">Спецпредложения</a></li>
          <li class="navigation__list-item"><a href="#" class="navigation__link">О компании</a></li>
        </ul>
      </nav>
    </header>

    <section class="car-models">
      <div class="top-line"></div>
      <h2 class="car-models__title">Модельный ряд Mercedes</h2>
      <div class="car-models__container">
        <section class="car-card">
          <img src="./../../img/car-model-range/e-class.png" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">E-Class</h3>
            <p class="car-card__type">седан</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
        </section>

        <section class="car-card">
          <img src="./../../img/car-model-range/c-class.webp" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">C-Class</h3>
            <p class="car-card__type">седан</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
          </div>
        </section>

        <section class="car-card">
          <img src="./../../img/car-model-range/s-class.webp" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">S-Class</h3>
            <p class="car-card__type">седан</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
          </div>
        </section>

        <section class="car-card">
          <img src="./../../img/car-model-range/cls.webp" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">CLS</h3>
            <p class="car-card__type">внедорожник</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
          </div>
        </section>

        <section class="car-card">
          <img src="./../../img/car-model-range/cla.png" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">CLA</h3>
            <p class="car-card__type">внедорожник</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
          </div>
        </section>

        <section class="car-card">
          <img src="./../../img/car-model-range/gls.png" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">GLS</h3>
            <p class="car-card__type">внедорожник</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
          </div>
        </section>

        <section class="car-card">
          <img src="./../../img/car-model-range/gle.png" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">GLE</h3>
            <p class="car-card__type">внедорожник</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
          </div>
        </section>

        <section class="car-card">
          <img src="./../../img/car-model-range/glc.png" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">GLS</h3>
            <p class="car-card__type">внедорожник</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
          </div>
        </section>

        <section class="car-card">
          <img src="./../../img/car-model-range/v-class.png" alt="">
          <div class="car-card__position">
            <h3 class="car-card__title">V-Class</h3>
            <p class="car-card__type">минивэн</p>
            <p class="car-card__price">от 46 000 &euro;</p>
            <a class="button__link button-position" href="#">Подробнее</a>
          </div>
        </section>
      </div>
    </section>

    <div class="bottom-line"></div>

    <section class="contacts">
      <div class="contacts__phone-numbers">
        <h3>Mercedes-Benz</h3>
        <ul>
          <li>Автомобили:<a href="tel:+375173099999"> +375-17-30-99-999</a></li>
          <li>Сервис:<a href="tel:+375173099999"> +375-17-30-99-999</a></li>
          <li>Запчасти:<a href="tel:+375-17-30-99-999"> +375-17-30-99-999</a></li>
        </ul>
      </div>
      <div class="contacts__opening-hours">
        <h3>Часы работы</h3>
        <ul>
          <li>Понедельник:08:00 - 20:00</li>
          <li>Вторник:08:00 - 20:00</li>
          <li>Среда:08:00 - 20:00</li>
          <li>Четверг:08:00 - 20:00</li>
          <li>Пятница:08:00 - 20:00</li>
          <li>Суббота:08:00 - 20:00</li>
          <li>Воскресенье:08:00 - 17:00</li>
        </ul>
      </div>
      <div class="contacts__map">
        <h3>Мы находимся</h3>
        <p>Здесь будет карта</p>
        <div class="contacts__map-yandex">
        </div>
      </div>
    </section>

    <footer>
      <p class="text-footer">© Mercedes-Benz Беларусь, 2019</p>
    </footer>

  </div>


</body>
</html>