@import "./../../feature-card/header/header.css";
@import "./../../feature-card/contacts/contacts.css";
@import "./../../feature-card/footer/footer.css";
@import "./../../feature-card/test-drive/test-drive.css";

body {
  background-color: black;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  font-size: 1rem;
}

.bottom-line {
  border-bottom: 2px solid gray;
  margin-top: 1.5em;
}