@import "./../components/header.css";
@import "./../components/contacts.css";
@import "./../components/footer.css";
@import "./../components/car-characteristics.css";
@import "./../components/preloader.css";

body {
  background-color: black;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  font-size: 1rem;
  font-family: "Times New Roman", serif;
}

.top-line {
  border-bottom: 2px solid gray;
}

.bottom-line {
  border-bottom: 2px solid gray;
  margin-top: 1.5em;
}

.car-description img {
  width: 100%;
}

.car-description__title {
  display: block;
  text-align: center;
  padding: 1.5em 0;
  margin: 0 auto;
  color: white;
  background-color: black;
  font-size: 1.5em;
}

.car-description__information h3 {
  text-align: center;
  padding-top: 1em;
}

.car-description__case {
  display: flex;
  flex-direction: row;
  margin: 0.5em 1em;
}

.car-description__text {
  padding: 0.5em;
  flex: 7;
}

.car-description__image {
  flex: 4;
}

.car-description__image img {
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
  padding-bottom: 1em;
}

.mix-color {
  background-color: #f9f9f9;
}

.car-characteristics__title {
  display: block;
  margin-left: 2em;
}

.car-characteristics__text {
  font-family: Tahoma, sans-serif;
}

@media screen and (max-width: 960px) {
  .car-description__case {
    flex-direction: column;
  }
}