<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="contacts.css">
</head>
<body>
  <div class="contacts">
    <div class="contacts__phone-numbers">
      <h3>Mercedes-Benz</h3>
      <ul>
        <li>Автомобили:<a href="tel:+375173099999"> +375-17-30-99-999</a></li>
        <li>Сервис:<a href="tel:+375173099999"> +375-17-30-99-999</a></li>
        <li>Запчасти:<a href="tel:+375-17-30-99-999"> +375-17-30-99-999</a></li>
      </ul>
    </div>
    <div class="contacts__opening-hours">
      <h3>Часы работы</h3>
      <ul>
        <li>Понедельник:08:00 - 20:00</li>
        <li>Вторник:08:00 - 20:00</li>
        <li>Среда:08:00 - 20:00</li>
        <li>Четверг:08:00 - 20:00</li>
        <li>Пятница:08:00 - 20:00</li>
        <li>Суббота:08:00 - 20:00</li>
        <li>Воскресенье:08:00 - 17:00</li>
      </ul>
    </div>
    <div class="contacts__map">
      <h3>Мы находимся</h3>
    </div>
  </div>
</body>
</html>