<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="car-characteristics.css">
</head>
<body>
  <div class="wrapper">
  <section class="car-characteristics">
    <div class="car-characteristics__information">
      <h3 class="car-characteristics__name-price">CLA 200 - 29 301 €</h3>
      <div class="car-characteristics__arrow"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1.5em" height="1.5em" viewBox="0 0 16 16">
        <path fill="#444444" d="M8 2.9l8 8-2.1 2.2-5.9-5.9-5.9 5.9-2.1-2.2z"></path>
      </svg></div>
    </div>
    <div class="car-characteristics__row">
      <div class="car-characteristics__text">
        <p>Двигатель, куб. см.: 1595<br>
        Мощность: 115 кВт (156 л.с.)<br>
        Расход (смешанный), л./100 км.: 5,7<br>
        Разгон 0-100 км/ч, с: 8,2<br>
        Регулярная цена: 31 367 €<br>
        Скидка: 2 066 €<br>
        Новая цена: 29 301 €</p>
      </div>
      <div class="car-characteristics__image">
        <img src="./../../../img/car-model-description/cla/cla-characteristics.jpg" alt="" >
      </div>
    </div>
  </section>

  </div>

</body>
</html>