<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>car-card</title>
  <link rel="stylesheet" href="car-card.css">
</head>
<body>
  <section class="car-card">
    <img src="./../../../img/car-model-range/e-class.png" alt="">
    <div class="car-card__position">
      <h3 class="car-card__title">E-Class</h3>
      <p class="car-card__type">седан</p>
      <p class="car-card__price">от 46 000 &euro;</p>
      <a class="button__link button-position" href="#">Подробнее</a>
    </div>
  </section>
</body>
</html>